.search{
    width:auto ;
    text-align: center;
    padding: 2%;
    margin: 20px;
    background-color: gainsboro;
}

.search-but{
    width: 300px;
}

.link{
    width: 30%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 3%;
    margin: -19px -13px 1px 55px;
    background-color: #7EE5DA;
}

.bilgi{
    width: 15%;
    float: left;
    text-align: center;
    padding: 2.5%;
    margin: 20px;
    margin-top: -19px;
    margin: 1;
    background-color: #70CCC2;
}

.sub{
    width: 34.2%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 1.39%;
    margin: -19px -5px 5px -14px;
    background-color: #62B3AA;
}

#foot {
    margin-top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}